FRONTEND_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret
# EMAIL_USER norāda e-pasta adresi, no kuras sistēma sūtīs ziņojumus.
# Piemēram: teamflow@example.com
EMAIL_USER=
# EMAIL_PASS norāda šī e-pasta konta lietotnes paroli vai SMTP paroli.
# Parasto e-pasta konta paroli drošības dēļ nav ieteicams izmantot.
EMAIL_PASS=
